.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
button,span{
  margin: 10px;
  font-size:1.5rem ;
}
select{
  background-color: aqua;
}